@model ProHub.Domain.Dtos.Accounts.AccountRegisterDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">


        <div class="card">
            <div class="card-header">
                <h5>Basic HTML input control</h5>
            </div>
            <form class="form theme-form">
                <div class="card-body">
                    <div class="row">
                        <div class="col">

                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label" asp-for="FirstName"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" asp-for="FirstName" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label" asp-for="LastName"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" asp-for="LastName" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label" asp-for="Email"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" asp-for="Email" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label" asp-for="Password"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="password" required asp-for="Password">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label" asp-for="ConfirmPassword"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="password" required asp-for="ConfirmPassword">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <input class="btn btn-light" type="reset" value="Cancel">
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>
